/* Hero section */
.hero-section {
  background: url('../images/toys.png');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;
}

.hero-container {
  padding: 50px;
}

.hero-btn {
  display: flex;
  margin-left: 30px;
}

/* cateogries */
.categories-title{
    text-align: center;
}
.card-title{
    text-align: center;
}
.categories-container{
    display: flex;
    justify-content: center;
    
}
.categories-card-collection{
    display: flex;
}
.category-card{
    padding: 30px;
    margin: 5px;
    background-color: #e0e6f0;
    border-radius: 15px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.category-card:hover{
    color: red;
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.45);
}
.card-img img{
    width: 250px;
}