/* === RESET GENERAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
  text-decoration: none;
}

body {
  line-height: 1.5;
}

/* sticky header */
#header {
  position: sticky;
  top: 10px;
  z-index: 1100;
}

/* title */
.title{
    display: flex;
    justify-content: center;
}
.title-txt{
    width: 700px;
    font-size: 35px;
}