/* === RESET GENERAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
  text-decoration: none;
}

body {
  line-height: 1.5;
}

/* Hero section */
.hero-section {
  background: url('../images/toys.png');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;
}

.hero-container {
  padding: 50px;
}

.hero-btn {
  display: flex;
  margin-left: 30px;
}
