
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,.1);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.tags {
  margin-top: 8px;
}

.tag {
  display: inline-block;
  padding: 4px 7px;
  background: #eee;
  border-radius: 6px;
  margin-right: 4px;
  margin-top: 4px;
}
.card-btn{
  display: flex;
  justify-content: end;
}
.card-btn button{
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  border-radius: 18px;
  background-color: rgb(6, 208, 249);
  border-style: none;
}

.sidebar{
  background-color: red;
}
.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #222;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin-top: 0;
}

/* CONTENIDO PRINCIPAL */
.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

